**/.git
**/.gitattributes
/.agents
/.claude

**/__pycache__
**/*.py[cod]
*.egg-info
**/*.egg-info
.pytest_cache

/datasets/
/src/
/docs/

submodules/IsaacLab-Arena/submodules/**
!submodules/IsaacLab-Arena/submodules/IsaacLab
!submodules/IsaacLab-Arena/submodules/IsaacLab/**

docker/**/*.log
